body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

button:active {
    background-color: rgb(77, 26, 196);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0px 10%;
}

.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.btn {
    border: solid 1px transparent;
    padding: .8rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    background-color: rgb(105, 40, 255);
    color: rgb(255, 255, 255);
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}